<p>diretiva-ngif works!</p>
<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
	Lista de cursos aqui
</div>
<div *ngIf="cursos.length == 0">
	não existem cursos
</div>
<div *ngIf="mostrarCursos">
	lista de cursos aqui
</div>
<div *ngIf="!mostrarCursos">
	não existem cursos
</div>

<button (click)="toogleCursos()">Mostrar/Esconder cursos</button>

<h5>hidden como alternativa -é menos custoso usar o hidden caso o custo de criar a árvore de elementos seja grande</h5>
<div [hidden]="!mostrarCursos">
	lista de cursos aqui
</div>
<div [hidden]="mostrarCursos">
	não existem cursos
</div>
<div>
	<!--A origem da tag <template> é a especificação padrão Web Components que está sendo implementada nos browsers. http://webcomponents.org/articles/introduction-to-template-element/-->
	<h5>Removendo o * do ngIf e usando ng-template, que é o que o angular faz por baixo dos panos</h5>
	<div *ngIf="mostrarCursos">

	</div>
	<ng-template [ngIf]="mostrarCursos">
		<div>Lista de cursos aqui</div>
	</ng-template>
	<!--no angular 2, o exemplo acima tinha a mesma resposta q o
	abaixo
	<div template="ngIf mostrarCursos">
		lista de cursos aqui
	</div>
	-->
</div>