<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ng-content>
	conteúdo passado para o componente
	<app-diretiva-ngif></app-diretiva-ngif>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
	<div class="titulo">
		titulo passado pelo componente
	</div>
	<div class="corpo">
		corpo passado pelo componente 1
	</div>
	<div class="corpo">
		corpo passado pelo componente 2
	</div>
	restante do conteudo passado pelo componente
</app-exemplo-ng-content>
<app-diretivas-customizadas></app-diretivas-customizadas>