<p diretivaFundoAmarelo>diretivas-customizadas works!</p>
<h5>Usando a diretiva criada por mim de fundoAmarelo</h5>
<!--o de cima eh a msm coisa q o abaixo, mas c diretiva criada 
por mim-->
<p style="background-color: yellow;">diretivas-customizadas works</p>

<button diretivaFundoAmarelo>botao com diretiva de fundo amarelo</button>


<h5>Usando a diretiva criada por mim de highlight</h5>
<p diretivaHighlightMouse>Texto com highlight quando passo o mouse</p>
<h5>Usando a versão da diretiva mais completa de highlit criada por mim</h5>
<p 
	diretivaVersaoMaisCompletaHighlight
	[defaultColor]="'grey'"
	[highlightColor]="'red'"
>
	Texto com a versão do highlight mais completa quando passo o mouse
</p>

<!-- <h5>Mesma coisa da linha acima, mas Com codigo ainda mais enxuto usando o input property com o mesmo nome da diretiva, lembrando q precisa mudar no codigo ts da diretiva</h5>

<p 
	[diretivaVersaoMaisCompletaHighlight]="'red'"
	[defaultColor]="'grey'"	
>
	Texto com a versão do highlight mais completa quando passo o mouse
</p> -->
<h5>Usando a diretiva ng-else criada por mim</h5>
<div *ngIf='mostrarCursos'>
	lista de cursos aqui
</div>
<div *diretivaNgElse="mostrarCursos">
	não existem cursos
</div>
<h5>Usando a diretiva ng-else criada por mim, mas com ng-template</h5>
<ng-template
	[diretivaNgElse]="mostrarCursos"
>
	não existem cursos
</ng-template>
<ng-template
	[diretivaNgElse]="!mostrarCursos"
>
	lista de cursos aqui
</ng-template>
<br>
<button
	(click)="onMostrarCursos()"
>
	Mostrar ou esconder cursos
</button>