<nav>
	<ul>
		<li>
			<a routerLinkActive="ativa" [routerLink]="['/']" >Home</a>
		</li>
		<li>
			<a routerLinkActive="ativa" [routerLink]="['/cursos']" >Cursos</a>
		</li>		
		<li>
			<a routerLinkActive="ativa" [routerLink]="['/rxjs-poc']">RxJS POC</a>
		</li>		
		<li>
			<a routerLinkActive="ativa" [routerLink]="['/upload']">upload/download de arquivo</a>
		</li>		
		<li>
			<a routerLinkActive="ativa" [routerLink]="['/busca-reativa']">Pesquisa reativa</a>
		</li>		
	</ul>
</nav>
<router-outlet></router-outlet>